<h1><%= @user.name %>のお気に入り一覧</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.picture.title %></td>
        <td><%= image_tag favorite.picture.image.url %></td>
        <td><%= favorite.picture.content %></td
        <td><%= favorite.picture.user.name %></td>
        <td><%= link_to 'Show', favorite.picture %></td>
        <% if current_user.id == favorite.picture.user.id %>
          <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
